<div class="primer-grid">
  <div class="header">
    <div class="logo">
      <img src="../../../assets/img/logo sin letras.png" alt="Usuario" />
    </div>
    <div class="nombre">
      <p>Banco BanQuito</p>
    </div>
    <div class="usuario-info">
      <p>Nombre de Usuario</p>
      <img src="../../../assets/img/Img persona.png" alt="Usuario" />
    </div>
  </div>
  <div class="segundo-grid">
    <div class="columna-celeste">
      <div class="espaciado"></div>
      <div class="con-tarjeta" routerLink="/conTarjeta">
        <img
          src="../../../assets/img/atm/tarjeta-de-credito.png"
          alt="Tarjeta"
        />
      </div>
      <div class="espaciado"></div>
      <div class="sin-tarjeta" routerLink="/sinTarjeta">
        <img
          src="../../../assets/img/atm/sin-tarjeta-de-credito.png"
          alt="Sin Tarjeta"
        />
      </div>
      <div class="salir" routerLink="/">
        <img
          src="../../../assets/img/atm/cerrar-sesion.png"
          alt="Sin Tarjeta"
        />
        <p>Salir</p>
      </div>
    </div>
    <div class="columna-gris">
      <h3>ATM</h3>
      <h4>Retiros</h4>
      <table>
        <tr>
          <th>Transaccion Exitosa</th>
        </tr>
        <tr>
          <td>
            <div>
              <img src="../../../assets/img/atm/comprobado.png" alt="Imagen" />
            </div>
            <label class="input-label">Valor: </label>
            <br />
            <label class="input-label"></label>
            <input type="text" readonly />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<footer>
  © 2023 BancoBanquito. Todos los derechos reservados.
</footer>