<div class="primer-grid">
    <div class="header">
        <div class="logo">
            <img src="../../../assets/img/logo sin letras.png" alt="Usuario">
        </div>
        <div class="nombre">
            <p>Banco BanQuito</p>
        </div>
        <div class="usuario-info">
            <p>Nombre de Usuario </p>
            <img src="../../../assets/img/Img persona.png" alt="Usuario">
        </div>
    </div>
    <div class="segundo-grid">
        <div class="columna-celeste">
            <div class="espaciado"></div>
            <div class="con-tarjeta" routerLink="/conTarjeta">
                <img src="../../../assets/img/atm/tarjeta-de-credito.png" alt="Tarjeta">
            </div>
            <div class="espaciado"></div>
            <div class="sin-tarjeta" routerLink="/sinTarjeta">
                <img src="../../../assets/img/atm/sin-tarjeta-de-credito.png" alt="Sin Tarjeta">
            </div>
            <div class="salir" routerLink="/">
                <img src="../../../assets/img/atm/cerrar-sesion.png" alt="Sin Tarjeta">
                <p>Salir</p>
            </div>
        </div>
        <div class="columna-gris">
            <h3>ATM</h3>
            <h4>Retiro con Tarjeta</h4>
            <table>
                <tr>
                    <th>Seleccione la cantidad que desea depositar</th>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <div class="button-container">
                                    <div class="button" routerLink="/confirmacionRetiro">$10</div>
                                    <br>
                                    <div class="button" routerLink="/confirmacionRetiro">$20</div>
                                    <br>
                                    <div class="button" routerLink="/confirmacionRetiro">$50</div>
                                  </div>
                            </div>
                            <div>
                                <img src="../../assets/img/atm/moneda.png" alt="Imagen">
                            </div>
                            <div>
                                <div class="button-container">
                                    <div class="button" routerLink="/confirmacionRetiro">$100</div>
                                    <br>
                                    <div class="button" routerLink="/confirmacionRetiro">$150</div>
                                    <br>
                                    <div class="button" routerLink="/valorRetiroCT">Otro valor</div>
                                  </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            
    </div>
</div>

</div>
<footer>
    © 2023 Tu Banco. Todos los derechos reservados.
</footer>